<body id = "page_jade">
<h5><img class="stars" src="/assets/star.gif" alt="star"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><img class="stars" src="/assets/star.gif" alt="star"><%= link_to "Home Page", root_path %><img class="stars" src="/assets/star.gif" alt="star"></h5>
	<h1>Page about Jade</h1>
	<p>Incredibly powerful and recently engaged.</p>
</body>