<body id = "page_jade">
<h5>
	<img class="stars" src="/assets/star.gif" alt="star">
	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	<img class="stars" src="/assets/star.gif" alt="star">
	<%= link_to "Home Page", root_path %><img class="stars" src="/assets/star.gif" alt="star">
</h5>
	<h1>Page about Jade</h1>
	<p>Incredibly powerful and recently engaged.</p>
	<div class="bio_info">
		<p>Jade has been programming since middle school but has not applied her skills until now.</p><p>She enjoys working with her peers, Jill and Zak, and is excited to work on this project with them!</p><p>90's geocities website aesthetic appeals to her, and she wishes every web page still looked like that.</p>
	</div>
</body>