
<div id="welcome_background">


<h1>Welcome to Franklinstein!</h1>
<p>We are so happy to see you! Very soon, you'll be able to build your very own creature!</p>

<p>If you don't like it - change it. It's your world. Brown is such a nice color.</p>

<p>That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. God gave you this gift of imagination. Use it. Don't fight it, use what happens.</p>

<p>A happy cloud. We're not trying to teach you a thing to copy. We're just here to teach you a technique, then let you loose into the world.</p>

<p>We are so happy to see you! Very soon, you'll be able to build your very own creature!</p>

<p>If you don't like it - change it. It's your world. Brown is such a nice color.</p>

<p>That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. God gave you this gift of imagination. Use it. Don't fight it, use what happens.</p>

<p>A happy cloud. We're not trying to teach you a thing to copy. We're just here to teach you a technique, then let you loose into the world.</p>
<p>We are so happy to see you! Very soon, you'll be able to build your very own creature!</p>

<p>If you don't like it - change it. It's your world. Brown is such a nice color.</p>

<p>That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. God gave you this gift of imagination. Use it. Don't fight it, use what happens.</p>

<p>A happy cloud. We're not trying to teach you a thing to copy. We're just here to teach you a technique, then let you loose into the world.</p>

 <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</div>

<!-- <p>Find me in app/views/welcome/index.html.erb</p>
 -->