#page_jill {

}
#page_jade {
	background-image: url('/assets/starbackground.gif');
	color: white;
	text-align: center;
	
	a {
		color: magenta;
	}
	.stars {
		width:20px;
		height:20px;
	}
	.bio_info {
		text-align: left;
		color: cyan;
	}

}
#page_zak {

}